.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: $primary-color;
  font-weight: 400;
}

.btn__reuseable {
  position: relative;
  flex-basis: calc(50% - 10px);
  padding: 14px 20px;
  border: 1px solid $white;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  font-weight: 300;
  background-color: transparent;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    background: $white;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scale(1, 1);
    transform-origin: left center;
    z-index: -1;
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  &:hover{
    color: $white;
    border: 1px solid $white;

    &::before {
    transform-origin: right center;
    transform: scale(0, 1);
  }
  }
}

// ------------ keyframes --------------
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
