.pc-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;

  .pc-notify {
    font-size: 1.1rem;
    text-align: center;
    padding: 1.5rem 0;
    background: #f3f3f3;
  }

  .pc-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 1.5rem;
    // background: orange;

    .pc-header__currency {
      .pc-currency {
        display: none;
      }
    }

    .pc-main__nav {
      flex: 1;

      .pc-menu__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn ease-in-out 0.2s;
        overflow: hidden;
      }

      .pc-nav__menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        background: $white;
        transform: translateX(-100%);
        opacity: 0;
        transition: all 0.5s ease-in-out;
        z-index: 100;

        .pc-menu__header {
          width: 100%;
          min-height: 60px;
          padding: 0 2rem;
          display: flex;
          align-items: center;
        }

        .pc-menu__list {
          width: 100%;
          height: calc(100vh - 120px);
          overflow-y: auto;
          border-bottom: 1px solid $gray;

          .pc-menu__item {
            width: 100%;
            padding: 2.5rem 2rem;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;

            .pc-menu__text {
              flex-basis: 50%;
            }

            .pc-menu__text--gray {
              color: $gray;
            }

            &:not(:last-child)::after {
              content: "";
              position: absolute;
              top: 0;
              right: 2rem;
              left: 2rem;
              bottom: 0;
              border-bottom: 1px solid $gray;
            }
          }

          .pc-menu__sublist {
            display: none;
            // visibility: hidden;
            background: $white;
            width: 100%;
            margin-left: 2rem;
            z-index: 100;
            cursor: pointer;

            .pc-menu__subitem {
              display: flex;
              justify-content: space-between;
              margin: 3rem 0 0;

              .pc-menu__subtext {
                flex-basis: 90%;
                color: $gray;
              }

              &:last-child {
                margin-bottom: 1rem;
              }

              .minus,
              .plus {
                color: $gray;
              }

              &:hover {
                color: $primary-color;

                .pc-menu__subtext {
                  color: $primary-color;
                }
                .minus,
                .plus {
                  color: $primary-color;
                }
              }
            }
          }

          .pc-menu__sublist--show {
            display: block;
          }
        }

        .pc-menu__footer {
          width: 100%;
          height: 60px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .pc-footer__item {
            position: relative;

            .pc-footer__icon {
              display: inline-block;
              width: 15px;
              height: 15px;
              line-height: 30px;
              opacity: 0.5;
              transition: all 0.3s ease-in-out;

              &:hover {
                opacity: 1;
              }

              svg {
                max-width: 100%;
                max-height: 100%;
                cursor: pointer;
              }
            }
          }
        }
      }

      .pc-menu__input {
        display: none;

        &:checked {
          & ~ .pc-nav__menu {
            transform: translateX(0);
            opacity: 1;
          }

          & ~ .pc-menu__overlay {
            display: block;
            z-index: 100;
          }
        }
      }
    }

    .pc-header__logo {
      flex: 1;
      text-align: center;

      .pc-logo__link {
        display: inline-block;
        font-size: 2.2rem;
        text-decoration: none;
        &:hover {
          color: $primary-color;
        }
      }
    }

    .pc-menu__icons {
      flex: 1;
      text-align: right;
    }

    .pc-menu__icon {
      width: 20px;
      height: 20px;
      cursor: pointer;

      &--search {
        margin-right: 10px;
      }
    }

    .pc-laptop__list {
      display: none;
    }

    .pc-second__nav {
      display: none;
    }
  }

  .pc-slider {
    width: 100%;
    height: 100vh;
    cursor: grab;

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      width: 100%;
      height: 100%;

      .slide__content {
        position: absolute;
        bottom: 70px;
        left: 0;
        color: $white;
        text-align: left;
        padding: 0 24px;
        width: 100%;

        .slide__title {
          font-size: 2.2rem;
          margin: 30px 0;
          font-weight: bold;
        }

        .slide__subtitle {
          font-size: 1.3rem;
        }

        .slide__btn {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .btn__reuseable--slide-1,
          .btn__reuseable--slide-3 {
            &:first-child {
              margin-right: 5px;
            }

            &:last-child {
              margin-left: 5px;
            }
          }

          .btn__reuseable--slide-2 {
            flex-basis: 50%;
          }

          .btn__reuseable--slide-4 {
            flex-basis: auto;
          }
        }
      }
    }

    .slide-1 {
      background-image: url("https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-mobile---1_x800.jpg?v=1527725812");
      background-size: cover;
      background-position: center;
    }

    .slide-2 {
      background-image: url("https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-mobile---2_x800.jpg?v=1527725826");
      background-size: cover;
      background-position: center;
    }

    .slide-3 {
      background-image: url("https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-mobile---3_x800.jpg?v=1527725838");
      background-size: cover;
      background-position: center;
    }

    .slide-4 {
      background-image: url("https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-mobile---4_x800.jpg?v=1527725848");
      background-size: cover;
      background-position: center;
    }
  }

  .pc-weekly {
    padding: 80px 0;
    text-align: center;

    .pc-weekly__title {
      margin-bottom: 16px;
    }

    .pc-weekly__tablist {
      .pc-tablist__btn {
        .btn--tablist {
          font-size: 24px;
          position: relative;
          padding: 3px 0;

          &:first-child {
            margin-right: 30px;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #000;
          }

          &:last-child::after {
            display: none;
          }
        }
      }
    }

    .pc-weekly__content {
      margin: 70px 0 0;
      width: 100%;
      padding: 0 30px;

      .swiper-container {
        .swiper-button-prev,
        .swiper-button-next {
          height: 15px;

          &::after {
            font-size: 15px;
            color: $black;
            background: $white;
            padding: 12px 17px;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            outline: none;
          }

          &:hover::after {
            transform: scale(1.08);
            box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
          }
        }

        .swiper-button-prev {
          left: 20px;
        }

        .swiper-button-next {
          right: 20px;
        }

        .slide__box {
          cursor: pointer;
          position: relative;

          .slide__img {
            max-width: 100%;
            max-height: 100%;
            transition: opacity 0.3s ease-in-out;

            &:nth-child(2) {
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            &:hover {
              &:nth-child(1) {
                opacity: 0;
              }

              &:nth-child(2) {
                opacity: 1;
              }
            }
          }
        }

        .slide__title {
          margin: 20px 0 15px;
          font-size: 1.5rem;
          text-align: left;
        }

        .slide__cost {
          text-align: left;
          color: $gray;
          font-size: 1.5rem;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: $white;
          margin: 0 5px;
        }
      }
    }

    .btn__reuseable--weekly {
      margin: 80px 0 0;
    }
  }
}

.pc-collection-image {
  padding: 0 0 80px ;
  & > .pc-collection__box {
    display: none;
  }
  
  .swiper-container {
    display: block;

    .pc-collection__box {
      position: relative;
      overflow: hidden;
      cursor: pointer;
  
      .pc-collection__img {
        transition: all 4s ease-in-out;
      }
  
      &:hover > .pc-collection__img {
        transform: scale(1.3);
  
      }
  
      .pc-collection__content {
        position: absolute;
        bottom: 80px;
        left: 24px;
        right: 24px;
        color: $white;
  
        .pc-collection__subtitle {
          font-size: 1.5rem;
          line-height: 25px;
        }
  
        .pc-collection__title {
          margin: 16px 0 30px;
          font-size: 2.3rem;
          line-height: 38px;
          font-weight: 400;
        }
  
        .btn__reuseable--collection {
          padding: 15px 40px;
          font-weight: 600;
          letter-spacing: 2.6px;
        }
      }
    }
    .swiper-pagination {
      text-align: left;
      padding: 20px 24px ;
    }
  }
}

.pc-news {
  padding: 50px 0;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  .pc-news__title {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 80px;
  }

  .pc-news__subtitle {
    text-align: center;
    font-size: 2rem;
    padding: 25px 0 40px;
  }

  .pc-news__content {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    flex-wrap: wrap;

    .pc-news__group {
      flex-basis: 100%;

      .pc-news__box {
        overflow: hidden;

        .pc-news__img {
          width: 100%;
          display: block;
          transition: all 4s ease-in-out;
          cursor: pointer;
        }
      }

      .pc-box__content {
        padding: 0 15px;
      }

      &:hover .pc-news__img {
        transform: scale(1.3);
      }

      .pc-news__subtitle {
        text-align: left;
        padding-bottom: 25px;
      }

      .pc-news__desc {
        font-weight: 100;
        line-height: 1.2;
      }

      .btn--news {
        font-size: 1.6rem;
        margin: 30px 0 ;
        padding: 0;
        position: relative;

        &::after {
          content: '';;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $primary-color;
          transition: all .5s ease-in-out;
        }

        &:hover {
          color: $primary-color;

          &::after {
            width: 0;
          }
        }
      }
    }
  }

  .pc-news__btn {
    text-align: center;
    margin: 30px 0 0;
  }
}

// Rotate icon menu list
.btn--menu-list {
  display: inline-block;
  text-align: right;
  padding: 0;
  position: relative;
  color: $primary-color;
  .minus,
  .plus {
    display: inline-block;
  }

  .plus {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .minus {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

.btn--menu-list.active {
  .plus {
    transform: rotate(90deg);
    opacity: 0;
  }

  .minus {
    opacity: 1;
  }
}

// Sticky nav
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: $white;
  border-bottom: 1px solid $gray;
}

.sticky + .pc-slider {
  margin-top: 80px;
}
