// Colors
$black:         rgb(0,0,0);
$white:         rgb(255,255,255);
$gray:          hsl(0, 1%, 77%);
$text-color:    rgb(92, 92, 92);
$primary-color: $text-color;

// Typography
$font-family: 'Roboto', sans-serif;



