// Colors
$black:         rgb(0,0,0);
$white:         rgb(255,255,255);
$gray:          rgb(167, 164, 164);
$text-color:    rgb(66, 66, 66);
$primary-color: $text-color;

$border-color: #e7e7e7;
// Typography
$font-family: 'Roboto', sans-serif;



